<!doctype html>
<html ng-app="demoApp">
<head>
	<title>home</title>
	<script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ url_for('bower.static', filename='angular/angular.min.js') }}"></script>
	<script src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">


</head>
<body ng-controller="mainController">
	<script>
	var app = angular.module("demoApp",[]);

	app.controller("mainController",['$scope','$compile',function($scope,$compile){
		$scope.msg = "WELCOME TO THE HOME PAGE!";
		$scope.names = "Geoffrey";
	}]);

	app.directive("btn",function(){
		return{
			restrict:'E',
			template:"<button>click me</button>"
		}
	});
	</script>

	{{msg|angular}}

	<btn></btn>

	  <p>Name : <input type="text" ng-model="names"></p>
	  <h1>Hello {{names|angular}}</h1>

</body>

</html>